<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!--<script src="https://vega.github.io/vega/vega.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    <title>{{query}}</title>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Search: {{query}}</h2>

        <div class="row text-center">
            <div class="input-group md-form form-sm form-2 pl-0 col-3">
                <form action="/search">
                  <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" aria-label="Search" name="q" value="{{query}}">
                </form>
            </div>
        </div>

        <ul class="nav nav-tabs row" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="result-tab" data-toggle="tab" href="#result" role="tab" aria-controls="result" aria-selected="true">Result</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="cluzter-tab" data-toggle="tab" href="#cluzter" role="tab" aria-controls="cluzter" aria-selected="false">Cluster</a>
          </li>
        </ul>
        <div class="tab-content row">
            <div class="tab-pane fade show active col" id="result" role="tabpanel" aria-labelledby="result-tab">
                <ul>
                {% for result in results['hits'] %}
                    {% with aid=result['document']['article'] %}
                    <li>article: {% include "articlelink.html" %}</li>
                    {% endwith %}
                    {% with pid=result['document']['id'] %}
                    <li>page: {% include "pagelink.html" %}</li>
                    {% endwith %}
                    {% for highlight in result['highlights'] %}
                        <li>
                            <p>{{ highlight['snippet'] | safe }}</p>
                        </li>
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
            <div class="tab-pane fade col" id="cluzter" role="tabpanel" aria-labelledby="cluzter-tab">
                <div id="cluster" class="col"></div>
                <div id="stats" class="col"></div>
                <div id="page" class="col"></div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="/js/search.js" ></script>
        <script type="text/javascript">
            search("{{specPage}}", "{{specAnalysis}}", "{{specCluster}}");
        </script>
    </div>
</body>
</html>
